<form method="post" action="{{ path('app_application_delete', {'id': application.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette candidature ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
    <button class="btn-delete">Supprimer la candidature</button>
</form>